.movie-slider-container {
    width: 100%;
    padding: 20px;
    position: relative;
    background: #0F0415;
    /* Optional for dark theme */
}

.section-title {
    color: #fff;
    display: flex;
    margin-bottom: 15px;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.link {
    font-size: 16px;
    color: greenyellow;
    text-decoration: none;
}

.movie-slider {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.movie-card {
    flex: 0 0 auto;
    width: 260px;
    /* Default width */
    background: transparent;
    overflow: hidden;

}

.view-all-card {
    flex: 0 0 auto;
    width: 260px;
    height: 400px;
    background: rgb(94, 107, 78);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.view-all-content {
    display: flex;
    flex-direction: column;
    /* stack text and icon vertically */
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    gap: 10px;
    /* space between text and icon */
}


.movie-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.movie-card:hover img {
    transition: transform 0.3s;
    transform: scale(1.02);
    cursor: pointer;
}

.movie-info {
    padding: 10px;
    color: #fff;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.scroll-btn.left {
    left: 10px;
}

.scroll-btn.right {
    right: 10px;
}

.movie-slider::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 992px) {

    .movie-card,
    .view-all-card {
        width: 180px;
    }

    .movie-card img,
    .view-all-card {
        height: 300px;
    }
}

/* Responsive Design */
@media screen and (max-width: 768px) {

    .movie-card,
    .view-all-card {
        width: 180px;
    }

    .movie-card img,
    .view-all-card {
        height: 300px;
    }
}

@media screen and (max-width: 480px) {

    .movie-card,
    .view-all-card {
        width: 140px;
    }


    .movie-card img,
    .view-all-card {
        height: 220px;
    }
}