<app-movie-banner-component></app-movie-banner-component>

<div class="movie-slider-container pt-sm-5">
  <div class="title d-flex mt-3 mb-2 mt-sm-0 mb-sm-0">
    <h2 class="section-title ps-lg-5">
      Popular Movies
    </h2>
    <a class="link my-auto fw-bold ms-3" routerLink="/Trending/Movies">Explore All</a>
  </div>

  <div class="d-flex justify-content-center text-light loading pt-5" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="slider-wrapper ps-lg-5 mt-sm-4">
    <!-- Left Button -->
    <button class="scroll-btn left" (click)="scrollLeft()" *ngIf="showLeftBtn">&#10094;</button>

    <!-- Slider -->
    <div #slider class="movie-slider">
      <div class="movie-card" *ngFor="let movie of popularMovies" [routerLink]="['/Movie', movie.id]">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.original_title">
        <div class="movie-info d-none d-sm-block">
          <p class="movie-title fw-bold mb-0">{{ movie.original_title }}</p>
          <p class="rating">⭐⭐⭐⭐⭐ {{ movie.vote_average }}</p>
        </div>
      </div>
      <div class="view-all-card" routerLink="/Trending/Movies" *ngIf="!loading">
        <div class="view-all-content">
          <span>Explore All</span>
        </div>
      </div>

    </div>
    <!-- Right Button -->
    <button class="scroll-btn right" (click)="scrollRight()" *ngIf="showRightBtn">&#10095;</button>
  </div>
</div>

<div class="movie-slider-container pt-sm-5">
  <div class="title d-flex mt-3 mb-2 mt-sm-0 mb-sm-0">
    <h2 class="section-title ps-lg-5">
      Top Rated Movies
    </h2>
    <a class="link my-auto fw-bold ms-3" routerLink="/Trending/Movies">Explore All</a>
  </div>

  <div class="d-flex justify-content-center text-light loading pt-5" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="slider-wrapper ps-lg-5 mt-sm-4">
    <!-- Left Button -->
    <button class="scroll-btn left" (click)="scrollLeft()" *ngIf="showLeftBtn">&#10094;</button>

    <!-- Slider -->
    <div #slider class="movie-slider">
      <div class="movie-card" *ngFor="let movie of topRatedMovies" [routerLink]="['/Movie', movie.id]">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.original_title">
        <div class="movie-info d-none d-sm-block">
          <p class="movie-title fw-bold mb-0">{{ movie.original_title }}</p>
          <p class="rating">⭐⭐⭐⭐⭐ {{ movie.vote_average }}</p>
        </div>
      </div>
      <div class="view-all-card" routerLink="/Trending/Movies" *ngIf="!loading">
        <div class="view-all-content">
          <span>Explore All</span>
        </div>
      </div>

    </div>
    <!-- Right Button -->
    <button class="scroll-btn right" (click)="scrollRight()" *ngIf="showRightBtn">&#10095;</button>
  </div>
</div>

<div class="movie-slider-container pt-sm-5">
  <div class="title d-flex mt-3 mb-2 mt-sm-0 mb-sm-0">
    <h2 class="section-title ps-lg-5">
      Upcoming Movies
    </h2>
    <a class="link my-auto fw-bold ms-3" routerLink="/Trending/Movies">Explore All</a>
  </div>

  <div class="d-flex justify-content-center text-light loading pt-5" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="slider-wrapper ps-lg-5 mt-sm-4">
    <!-- Left Button -->
    <button class="scroll-btn left" (click)="scrollLeft()" *ngIf="showLeftBtn">&#10094;</button>

    <!-- Slider -->
    <div #slider class="movie-slider">
      <div class="movie-card" *ngFor="let movie of upcomingMovies" [routerLink]="['/Movie', movie.id]">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.original_title">
        <div class="movie-info d-none d-sm-block">
          <p class="movie-title fw-bold mb-0">{{ movie.original_title }}</p>
          <p class="rating">⭐⭐⭐⭐⭐ {{ movie.vote_average }}</p>
        </div>
      </div>
      <div class="view-all-card" routerLink="/Trending/Movies" *ngIf="!loading">
        <div class="view-all-content">
          <span>Explore All</span>
        </div>
      </div>

    </div>
    <!-- Right Button -->
    <button class="scroll-btn right" (click)="scrollRight()" *ngIf="showRightBtn">&#10095;</button>
  </div>
</div>


<div class="movie-slider-container pt-sm-5">
  <div class="title d-flex mt-3 mb-2 mt-sm-0 mb-sm-0">
    <h2 class="section-title ps-lg-5">
      Now Playing Movies
    </h2>
    <a class="link my-auto fw-bold ms-3" routerLink="/Trending/Movies">Explore All</a>
  </div>

  <div class="d-flex justify-content-center text-light loading pt-5" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="slider-wrapper ps-lg-5 mt-sm-4">
    <!-- Left Button -->
    <button class="scroll-btn left" (click)="scrollLeft()" *ngIf="showLeftBtn">&#10094;</button>

    <!-- Slider -->
    <div #slider class="movie-slider">
      <div class="movie-card" *ngFor="let movie of nowPlayingMovies" [routerLink]="['/Movie', movie.id]">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.original_title">
        <div class="movie-info d-none d-sm-block">
          <p class="movie-title fw-bold mb-0">{{ movie.original_title }}</p>
          <p class="rating">⭐⭐⭐⭐⭐ {{ movie.vote_average }}</p>
        </div>
      </div>
      <div class="view-all-card" routerLink="/Trending/Movies" *ngIf="!loading">
        <div class="view-all-content">
          <span>Explore All</span>
        </div>
      </div>

    </div>
    <!-- Right Button -->
    <button class="scroll-btn right" (click)="scrollRight()" *ngIf="showRightBtn">&#10095;</button>
  </div>
</div>


<app-contact></app-contact>























































<!-- <h3 class="section-title text-white pt-3 ps-5 mb-4 ">
  All Movies 
</h3>

<div class="movie-grid px-5"
     (wheel)="onWheel($event)"
     #scrollContainer>
  <div class="movie-card" *ngFor="let movie of trendingMovies">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{movie.original_title}}">
    <div class="movie-info">
      <p class="movie-title text-white">{{ movie.original_title }}</p>
      <p class="rating">⭐⭐⭐⭐⭐ {{ movie.vote_average }}</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center text-light py-5" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
 -->