<div class="movie-slider-container pt-sm-5">
  <div class="title d-flex mt-3 mb-2 mt-sm-0 mb-sm-0">
    <h2 class="section-title ps-lg-5">
      Trending Movies
    </h2>
    <a class="link my-auto fw-bold ms-3" routerLink="/Trending/Movies">Explore All</a>
  </div>

  <div class="d-flex justify-content-center text-light loading pt-5" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="slider-wrapper ps-lg-5 mt-sm-4">
    <!-- Left Button -->
    <button class="scroll-btn left" (click)="scrollLeft()" *ngIf="showLeftBtn">&#10094;</button>

    <!-- Slider -->
    <div #slider class="movie-slider">
      <div class="movie-card" *ngFor="let movie of trendingMovies" [routerLink]="['/Movie', movie.id]">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{movie.original_title}}">
        <div class="movie-info">
          <p class="movie-title text-white">{{ movie.original_title }}</p>
          <p class="rating">⭐⭐⭐⭐⭐ {{ movie.vote_average }}</p>
        </div>
      </div>
      <div class="view-all-card" routerLink="/Trending/Movies" *ngIf="!loading">
        <div class="view-all-content">
          <span>Explore All</span>
        </div>
      </div>

    </div>
    <!-- Right Button -->
    <button class="scroll-btn right" (click)="scrollRight()" *ngIf="showRightBtn">&#10095;</button>
  </div>
</div>